@media only screen and (max-width: 835px) {
	.nav-div{
		display: none;
	}
	.mobile-menu-container{
	display: block;
	}
	.ip > span{
	font-size: 30px;
	padding: 11px;
	}
	.megatitle{
		font-size: 50px;
	}
	.modal-message{
		width: 200px;
	}
	.modal-container{
		width: 95%;
	}
	.sticker{
		margin-top: -8px;
	}
	.buy-btn{
	width: 100%;
	}
	.article{
		width: 90%;
	}
	.footer-socials{
	right: 20px;
	position: absolute;
	}
	.slide_content>img{
		width: 500px;
	}

	/*DIVS*/
	.profile, .about-profile, .about-div, .start-div, .premium-div, .faq-div, .footer{
		width: 100%;
	}
}